@model IEnumerable<PetStore.Models.Pet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petReceivedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petPicture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petReceivedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.petPicture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.petID }) |
            @Html.ActionLink("Details", "Details", new { id=item.petID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.petID })
        </td>
    </tr>
}

</table>
