@model PetStore.Models.Pet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pet</h4>
	<hr />
    <div class="row">
        <div class="col-md-1">
            <img src="@Html.DisplayFor(model => model.petPicture)" width="100" height="100" />
        </div>
        <div class="col-md-11">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.petName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.petName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.petDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.petDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.petReceivedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.petReceivedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.petQuantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.petQuantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.petPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.petPrice)
                </dd>

            </dl>

        </div>
    </div>
</div>
<p class="btn btn-default">
    @Html.ActionLink("Back to List", "Index")
</p>
